html {
  background-color: rgb(122, 122, 122);
}

div {
  background-color: rgb(122, 122, 122);
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  margin: 20px 0px 20px 0px;
}

.buttons {
  text-align: center;
  display: flex;
}

.buttons button {
  min-width: 85px;
  margin-top: 5px;
  margin-left: 5px;
}

.element {
  min-height: 250px;
  padding: 20px;
  font-size: 4em;
  text-align: center;
}

.feedback {
  text-align: center;
}

.feedback p {
  font-size: 2em;
}

#element0 {
  background-color: rgb(57, 203, 198);
  background-image: url('images/goat1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#element1 {
  background-color: rgb(85, 43, 147);
  background-image: url('images/crow1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#element2 {
  background-color: rgb(214, 208, 56);
  background-image: url('images/cat1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#element3 {
  background-color: rgb(27, 150, 51);
  background-image: url('images/horse1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
