@import url(https://fonts.googleapis.com/css?family=Francois+One);

html {
  background-color: rgb(122, 122, 122);
  font-family: 'Francois One', sans-serif;
}

div {
  background-color: rgb(122, 122, 122);
}

h3 {
  text-align: center;
  font-weight: 700;
  font-size: 1.75em;
  margin: 20px 0px 20px 0px;
}

.buttons {
  text-align: right;
  display: flex;
  position: static;
  margin-top: 20px;
}

.buttons button {
  min-width: 60px;
  margin-top: 5px;
  margin-left: 5px;
}

.element {
  min-height: 175px;
  padding: 20px;
  font-size: 4em;
  text-align: center;
}

.feedback {
  text-align: center;
}

.feedback p {
  font-size: 1.5em;
}

.info {
  margin-top: 20px;
  text-align: center;
}

.info .btn {
  background-color: rgb(191, 191, 191);
}

.rounds {
  margin-top: 15px;
  text-align: center;
  font-size: 1.35em;
}

.title {
  text-align: center;
}

.toggle-info p {
  font-size: 0.85em;
}

#element0 {
  background-color: rgb(57, 203, 198);
  background-image: url('http://wojtekmurawski.me/memo/images/goat1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#element1 {
  background-color: rgb(85, 43, 147);
  background-image: url('http://wojtekmurawski.me/memo/images/crow1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#element2 {
  background-color: rgb(214, 208, 56);
  background-image: url('http://wojtekmurawski.me/memo/images/cat1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#element3 {
  background-color: rgb(27, 150, 51);
  background-image: url('http://wojtekmurawski.me/memo/images/horse1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#info-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3%;
  width: 75%;
  height: 85%;
  overflow: auto;
  z-index: 22000;
  background-color: rgb(226, 223, 232);
  margin: auto;
  display: none;
}

/* Media queries */

@media (max-width: 768px) {
  .toggle-container {
    max-width: 150px;
  }
}

@media (min-width: 475px) {

  .buttons button {
    min-width: 125px;
  }

}

@media (min-width: 700px) {

  .buttons button {
    min-width: 85px;
  }

}


/* Toggles custom CSS */

.wrap-toggle {
  max-width: 120px;
}

.toggle-slide {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.toggle-info {
  margin-top: 5px;
  text-align: center;
}


/* Toggles plugin CSS */

.toggle-slide {
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  direction: ltr;
}
.toggle-slide .toggle-on,
.toggle-slide .toggle-off,
.toggle-slide .toggle-blob {
  float: left;
}
.toggle-slide .toggle-blob {
  position: relative;
  z-index: 99;
  cursor: hand;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.toggle-light .toggle-slide {
  border-radius: 9999px;
  -webkit-box-shadow: 0 0 0 1px #999;
          box-shadow: 0 0 0 1px #999;
}
.toggle-light .toggle-on,
.toggle-light .toggle-off {
  font-size: 11px;
  font-weight: 500;
  text-align: center;
}

.toggle-light .toggle-on,
.toggle-light .toggle-select .toggle-inner .active {
  background: #45a31f;
  -webkit-box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.8);
}
.toggle-light .toggle-off,
.toggle-light .toggle-select .toggle-on {
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px rgba(255, 255, 255, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#f5f5f5));
  background: -webkit-linear-gradient(#cfcfcf, #f5f5f5);
  background: linear-gradient(#cfcfcf, #f5f5f5);
}
.toggle-light .toggle-blob {
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#cfcfcf));
  background: -webkit-linear-gradient(#f5f5f5, #cfcfcf);
  background: linear-gradient(#f5f5f5, #cfcfcf);
  -webkit-box-shadow: 1px 1px 2px #888;
          box-shadow: 1px 1px 2px #888;
}
.toggle-light .toggle-blob:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#f9f9f9));
  background: -webkit-linear-gradient(#e4e4e4, #f9f9f9);
  background: linear-gradient(#e4e4e4, #f9f9f9);
}
